h1 {
    text-align: center;
    color: #0b3954;
}

#defaultBody {
    display: flex;
    justify-content: center;
    background-color: #bfd7ea;
}

#homePic, #monkey404 {
    width: 50vw;
    max-height: 20em;
}